---
layout: layout.liquid
title: Javascript Framework II
---


<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>


<div x-data="{thumbImage: $fetchjson('https://dummyjson.com/products/1', jsonItem='thumbnail')}">
    <img alt="thumbnail" x-bind:src="thumbImage"/>
</div>


            